# MongoDB connection string
# Local: mongodb://localhost:27017
# Atlas: mongodb+srv://user:password@cluster.mongodb.net/dbname
MONGODB_URI=mongodb://localhost:27017

# Database name for this POC
MONGODB_DB_NAME=mongodb_poc
